* {
  font-family: 'ITC Benguiat Bold Condensed', 'ITC Benguiat', 'Bebas Neue', monospace;
}

body, html {
  font-family: 'ITC Benguiat Bold Condensed', 'ITC Benguiat', 'Bebas Neue', monospace;
}

#root {
  font-family: 'ITC Benguiat Bold Condensed', 'ITC Benguiat', 'Bebas Neue', monospace;
}
